
/**
 * 	Top menu styles
 */
#topmenu {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}
/** Move the top menu down when the menu bar is present **/
.admin-bar #topmenu {
	top: 28px;
}

/** Move content down 41px to make room for the top menu **/
body {
	padding-top: 41px;
}
/** Piratpartiet link/logo **/
#mainlink {
	width: 160px;
	height: 41px;

	background: transparent url('images/logo.png') no-repeat top left;

	font-size: 0;

	padding: 0 10px 0 0;
	margin-right: 20px;

	border-right: solid 15px #ec8b00;
}
#mainlink a {
	display: block;
	width: 100%;
	height: 100%;
}

/** Main menu styles **/
#topmenu nav, #topmenu > div {
	background-color: #572b85;
	height: 41px;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;

	-webkit-box-shadow: 0 2px 4px #222;
	-mox-box-shadow: 0 2px 4px #222;
	box-shadow: 0 2px 4px #222;
}
#topmenu nav > ul, #topmenu > div > ul {
	width: 1000px;
	margin: auto;
}
/** First level styles **/
#topmenu nav > ul > li, #topmenu > div > ul > li {
	float: left;
}
#topmenu nav > ul > li:hover, #topmenu > div > ul > li:hover {
	background-color: #ec8b00;
}
#topmenu nav > ul > li > a, #topmenu > div > ul > li a,
#topmenu nav > ul > li > a:visited, #topmenu > div > ul > li > a:visited {
	color: #fff;
	text-decoration: none;
	height: 41px;
	padding: 0 10px;
	display: block;
	line-height: 41px;
}

/** Second level styles **/

#topmenu .sub-menu {
	position: absolute;
	margin-top: -3px;

	visibility: hidden;

	border: solid 3px #ec8b00;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color: #fff;
}
#topmenu li:hover > .sub-menu {
	visibility: visible;
}
#topmenu .sub-menu {
	font-size: 12px;
}
#topmenu .sub-menu li:nth-of-type(2n) {
	background-color: #dadada;
}
#topmenu .sub-menu li:hover {
	background-color: #aaa;
}
#topmenu .sub-menu a, #topmenu .sub-menu a:visited {
	padding: 0 5px;

	display: block;
	height: 25px;

	text-decoration: none;
	color: #000;
	line-height: 25px;
}

/** Third level styles **/

#topmenu .sub-menu .sub-menu {
	margin-top: -25px;
}